.main-div{
background-image: url('../../assets/img/hero-bg.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;


}
@media (min-width: 992px) {
    .card-style {
      display:flex !important; /* تحويل العرض إلى block */
      width: 100%;    /* كل بطاقة تأخذ العرض الكامل */
      margin-bottom: 15px; /* مسافة بين البطاقات عند الشاشات الصغيرة */
    }
  }

.hero{

background-color: rgba(255, 255, 255, 0.712) !important; 
height: 350px !important;
align-items: stretch !important;
}

.hero  h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 20px 0;
    word-spacing: 2px;
}
.hero  p {
    font-size: 20px;

    margin: 10px 0 20px 0;
    word-spacing: 2px;
}
.blou-card{
height:400px !important;
background-color: var(--mainColor) !important;
color: white !important;
border-radius: 5px !important;
}
.blou-card:hover{
  animation: hoverEffect 0.5s forwards;


}
@keyframes hoverEffect {
  0% {
    transform: scale(1);
    color: #fff;
  }
  50% {
    transform: scale(1.1); /* Slightly enlarge */
    color: #fff;
  }
  100% {
    transform: scale(1); /* Reset scale */
    color: #fff;
  }
}
.blou-card p{

    color: white !important;
line-height: 2;
}

